.html, body {
    overflow-x: hidden;
}

.main-text {
    font-size: 30;
}

.img{
    height: 100px;
    color: blue;
}

.cssloco {
    position: absolute;
    opacity: 1;
    left: 10%;
    top: 40%;
    z-index: -1;
    height: 100%;
    width: 200%;
}

.csstest {
    position: absolute;
    opacity: 1;
    left: -100%;
    top: 240%;
    z-index: -1;
    height: 100%;
    width: 200%;
}

@media (max-width: 600px) {

    .body, html {
        font-size: .9em;
        overflow-x: hidden;
    }

    /* .imagen-reporte {
        margin-left: 50px;
    } */
    
    .cssloco {
        overflow-x: hidden;
        display: none;
    }


    .nav-item {
        display: none;
    }

    .aerologo {
        width: 8rem;
    }

    .csstest {
        width: 100%;
        display: none;
    }

    .mensaje-responsive {
        margin-left: 3rem;
    }
}



.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

.mt-15 {
    margin-top: 15rem;
}

.mt-custom {
    margin-top: 30rem;
}




.imagen-reporte {
    transition: all .3s ease-in-out;
}

.animacion {
    transition: all .3s ease-in-out;
}

.animacion:hover{
    transform: translateY(-20px);
}




@media (max-width: 1200px) {

    html, body {
        overflow-x: hidden;
    }

    
    .nav-item {
        display: none;
    }

    .aerologo {
        width: 8rem;
    }

    .cssloco {
        display: none;
    }

    .csstest {
        display: none;
        overflow-x: hidden;
    }

    .imagen-reporte {
        width: 400px;
        height: 400px;
    }

    .img-fluid {
        max-width: none;
        height: none;
        
    }

    .img-mano {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 400px;
        height: 300px;
    }
}